Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.1.1
PyJWT==2.10.1
PyMySQL==1.1.1
python-dotenv==1.0.1
simple-websocket==1.1.0
celery
redis
psycopg2-binary
cloudinary
removebg
Flask-Limiter==4.1.1
bleach==6.3.0
gunicorn==23.0.0
eventlet==0.36.0
firebase-admin==6.7.0
numpy==1.26.4
scipy==1.13.1
scikit-learn==1.5.2
